$aqua: #67DED2;
$red: #D12C72;

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 2.2rem;
}

a { text-decoration: none; }

.bold {
    color: $red;
}
