@import 'base';
  
#canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: $aqua;
}

.greetings {
    margin: 40vh auto 0;
    z-index: 1;
    text-align: center;
    color: transparentize(white, 0.1);
    text-shadow: 2px 3px 10px rgba(0,0,0,0.2);
    max-width: 85%;
}

.nav-link {
    color: transparentize($red, 0.4);
    font-weight: 700;
    transition: 0.2s ease-in all;
    &:hover {
        color: $red;
    }
}

@media screen and (max-width: 400px) {
    .greetings {
        margin-top: 30vh;
    }
}